* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.tela {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    height: 150px;
    width: 100%;
}

header h1 {
    text-align: center;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    margin-top: 40px;
}

main {
    width: 100%;
    padding: 0 82px 0 116px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 146px;
    width: 117px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-right: 34px;
    margin-bottom: 34px;
}